@{
    ViewBag.Title = "Home Page";
    @Styles.Render("~/Content/element")
}
<div class="container" id="companyListVue">
    <div class="row" v-cloak>
        <div class="col custom-table-width">
            <h4>公司列表</h4>
            <div class="table-responsive">
                <table class="table table-striped table-sm">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>公司ID</th>
                            <th>公司名稱</th>
                            <th>代碼</th>
                            <th>聯絡電話</th>
                            <th>統編</th>
                            <th>地址</th>
                            <th>網址</th>
                            <th>負責人</th>
                        </tr>
                    </thead>
                    <tbody v-for="(data,index) in companyList.List">
                        <tr>
                            <td>{{ index }}</td>
                            <td>{{ data.CompanyID }}</td>
                            <td>{{ data.CompanyName }}</td>
                            <td>{{ data.CompanyCode }}</td>
                            <td>{{ data.TaxID }}</td>
                            <td>{{ data.Phone }}</td>
                            <td>{{ data.Address }}</td>
                            <td>{{ data.WebsiteURL }}</td>
                            <td>{{ data.Owner }}</td>
                        </tr>
                    </tbody>
                </table>
                <div>
                    <el-pagination @@current-change="findListByPage"
                                   layout="prev,pager,next,jumper"
                                   :current-page.sync="currentPage"
                                   :page-size="itemsPerPage"
                                   :total="companyList.TotalCount"
                                   :background="true">
                    </el-pagination>
                </div>
                @*<nav aria-label="...">
                        <ul class="pagination">
                            <li class="page-item disabled">
                                <a class="page-link" href="#" tabindex="-1">Previous</a>
                            </li>
                            <li class="page-item"><a class="page-link" href="#">1</a></li>
                            <li class="page-item active">
                                <a class="page-link" href="#">2 <span class="sr-only">(current)</span></a>
                            </li>
                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                            <li class="page-item">
                                <a class="page-link" href="#">Next</a>
                            </li>
                        </ul>
                    </nav>*@
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/vue")
    @Scripts.Render("~/bundles/home")
}
